<%- include("partials/header") %>

<div class="jumbotron rounded-0 text-light bg-dark">
	<div class="container">
		<h1 class="display-4">Welcome to Lora Connect</h1>
		<p class="lead">
			Check your lora gateways here!
		</p>
        <a href="/map" class="btn btn-primary">Go to the map</a>
		<hr class="my-4" />
	</div>
</div>

<div class="container mt-3 mb-5">
	<div class="row">
		<div class="col-md-4 text-center">
			<div class="d-flex justify-content-center">
				<img src="https://avatars.githubusercontent.com/u/5756403?s=280&v=4" width="40%" height="40%" class="mt-5" alt="" />
			</div>

			<h2>Lora map</h2>
			<p class="">
				We have a map featuring all the available devices
			</p>
		</div>
		<div class="col-md-4 text-center">
			<div class="d-flex justify-content-center">
				<img src="https://uy.mouser.com/images/marketingid/2019/img/131647855.png?v=061121.0941" width="60%" height="60%" class="mt-5" alt="" />
			</div>

			<h2>Get gateways</h2>
			<p class="">
				Find nerby gateways that you need
			</p>
		</div>
		<div class="col-md-4 text-center">
			<div class="d-flex justify-content-center">
				<img src="https://cdn.ready-market.com/106/b023332e//Templates/pic/aus-40x-2-logo.jpg?v=3a0eb995" width="40%" height="40%" class="mt-5" alt="" />
			</div>

			<h2>Find the right use for you</h2>
			<p class="">
				Easily search for devices for your specific needs
			</p>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
