<%- include("partials/header") %>

<style>
	#map {
		height: 70%;
	}
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
</style>

 
<div class="" id="map"></div>





<script>
	let map

    let markers = []
    let gateways = '<%- gateways %>'

    gateways = JSON.parse(gateways)

    console.log(gateways)

    for (let i = 0; i < gateways.length; i++) {
        const element = gateways[i]
        console.log(element)        
    }

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 42, lng: 21.456 },
			zoom: 10
		})
        
        

        // new google.maps.Marker({
        //         position: { lat: 42, lng: 21.456 },
        //         map: map,
        //     })


        
            

        gateways.forEach(gateway => {
            let marker = new google.maps.Marker({
                position: { lat: gateway.location.latitude, lng: gateway.location.longitude },
                map: map,
                icon: '/images/antenna.png',
                scale: 0.1,
                label: 'test',
                title: gateway.name
            })
            

            const contentString =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                `<h1 id="firstHeading" class="firstHeading">${gateway.name}</h1>` +
                '<div id="bodyContent">' +
                `<p>Country code: <b>${gateway.country_code}</b></p>` +
                `<p>Last seen: ${gateway.last_seen}</p>` +
                `<a href="/gateways/${gateway._id}" class="btn btn-primary">Go to gateway</a>` +
                "</div>" +
                "</div>";
            
            let infowindow = new google.maps.InfoWindow({
                content: contentString,
            })
            
            marker.addListener('click', () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false
                })
            })
            marker.setMap(map)
            markers.push(marker)
        })









            //marker = null

	}
</script>
</script>


<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMraH0dFJoaQ2yJMW7R3cdAYXFpjDAaXc&callback=initMap">
</script>
<%- include("partials/footer") %>
